---
import classnames from "classnames";

import Layout from "@layouts/Layout.astro";
import { AuthService } from "@services/auth";

const REMEMBER_CHECKED_VALUE = "true";
const errors = { password: "" };

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const passwordRaw = data.get("password");
    const password = typeof passwordRaw === "string" ? passwordRaw : "";
    const remember = data.get("remember") === REMEMBER_CHECKED_VALUE;

    const authService = new AuthService(Astro.cookies);
    const isValid = authService.login(password, remember);
    if (isValid) {
      return Astro.redirect("/");
    }

    errors.password = "Nieprawidłowe hasło";
  } catch (error) {
    console.error(error);
  }
}
---

<Layout title="Logowanie">
  <div>
    <h1>Logowanie</h1>
    <form method="POST">
      <div class="form-control w-full max-w-xs mt-3">
        <input
          name="password"
          type="password"
          placeholder="Hasło"
          class={classnames("input input-bordered w-full max-w-xs", {
            "input-error": errors.password,
          })}
          required
        />
        {
          errors.password && (
            <label class="label">
              <span class="label-text-alt text-error">{errors.password}</span>
            </label>
          )
        }
      </div>
      <div class="form-control w-full max-w-xs mt-1">
        <label class="label justify-start cursor-pointer">
          <input
            name="remember"
            type="checkbox"
            checked="checked"
            value={REMEMBER_CHECKED_VALUE}
            class="checkbox checkbox-primary"
          />
          <span class="label-text ml-3">Zapamiętaj mnie</span>
        </label>
      </div>
      <div class="form-control w-full max-w-xs mt-3">
        <input type="submit" value="Zaloguj" class="btn btn-primary" />
      </div>
    </form>
  </div>
</Layout>
