---
export interface Props {
  title?: string;
}

const { title } = Astro.props;
const { isLoggedIn } = Astro.locals;
---

<!DOCTYPE html>
<html lang="en" data-theme="business">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{`${title ? `${title} | ` : ''}M贸j samoch贸d`}</title>
  </head>
  <body>
    <div class="mx-auto h-screen w-screen max-w-screen-sm p-2">
      <header class="flex justify-between p-4">
        <h1>M贸j samoch贸d</h1>
        {
          isLoggedIn && (
            <a href="/logout" class="btn-secondary btn-xs btn">
              Wyloguj
            </a>
          )
        }
      </header>
      <main class="flex flex-col items-center justify-center">
        <slot />
      </main>
    </div>
  </body>
</html>
